<main class="main" style="height: 100%; background-color: black;">
  <div style="width: 100%; height: 10%; background-color: black;">
    
  </div>

  <!-- <div style="width: 100%; height: 400px; background-color: rgb(0, 0, 0); display: flex;"> -->
    <div style="width: 100%; height: 90%; background-color: rgb(0, 0, 0); display: flex;">
      <div class="div1" style=" width: 50%; text-align: left; font-weight: 800; color: rgb(160, 168, 164);">
        <div style="margin: 20% 15% 15% 15%;">
          <div style="font-size: 20px; color: green; letter-spacing: 0.2px; margin-bottom: 0px;">
            Hello world, I am   
          </div>
          
        

          <div style="font-size: 25px; color: rgb(161, 161, 150); margin-top: 10px;">
            Te amo mucho china cochina
          </div>

          <div style="color: rgb(87, 92, 88); font-size: 34px; line-height: 30px; margin-top: 14px;">
            I build things for the web
          </div>

          <div style="font-size: 17px; color: rgb(161, 161, 150); margin-top: 10px;">
            I'm a full stack web developer specializing in building exceptional digital experiences for dinamic web sites.
          </div>
          <div style="margin-top: 20px;">
            <button 
              mat-stroked-button color="primary" 
              style="border: 1px solid green; color: green; overlay: inherit;">
              Contact me
            </button>
          </div>
        </div>
      </div>
        

      <div style="height: 100%; width: 50%; " class="div2">
        <img src="https://www.itprotoday.com/sites/itprotoday.com/files/bad%20code%20practices.jpg" alt="" style="border-left: 2px solid rgb(22, 53, 22); height: 90%; width: 100%;">
      </div>

    </div>

    <!-- <div style="border-right: 1px solid rgb(22, 53, 22); height: 100%; width: 50%; color: white; font-size: 60px; text-align: center; font: bold;" class="container div1">
      <div style="" class="centered-element">
        <div style="font-size: 30px;" class="">
          Hello world, I'm Jose 
        </div>
        a full stack developer 
        <div>
          <button 
            mat-stroked-button color="primary" 
            (click)="whatsapp()"
            style="border: 1px solid green; color: green; overlay: inherit;">
            Contact me
          </button>
        </div>
      </div>
    </div>


    <div style="height: 100%; width: 50%; " class="div2">
      <img src="https://www.itprotoday.com/sites/itprotoday.com/files/bad%20code%20practices.jpg" alt="" style="height: 600px; width: 100%;">
    </div> -->
</main>