.main {
    width: 100%;
}

.container {
    position: relative;
  }

  .mat-button.mat-primary .mat-button-focus-overlay {
    background-color: red;
  }

  .mat-mdc-outlined-button.mat-primary {
    --mdc-outlined-button-label-text-color: #f3f0f5;
    --mdc-outlined-button-outline-color: rgba(214, 211, 211, 0.11);
    --mat-outlined-button-state-layer-color: #ffffff;
    --mat-outlined-button-ripple-color: #29361d;
  }

  @media (max-width: 1250px) {
    /* … */
    .div2{
        display: none;
    }

    .div1{
        width: 100% !important;
    }
  }