<div class="info">
    <div style="color: aliceblue; width: 80%;">
      <p style="font-size: 20px; color: green; letter-spacing: 0.2px; margin-bottom: 0px;"> Hello world, I am</p>
      <p style="font-size: 25px; color: rgb(161, 161, 150); margin-top: 10px;"> Jose Cipagauta </p>
      <p style="font-size: 20px; color: rgb(161, 161, 150); margin-top: 10px;"> I'm a full stack web developer, let me help you with your project </p> 
    </div>
    <div style="margin-top: 20px; width: 80%;">
      <!-- <button 
        (click)="hacerScroll('contacMe', $event)"
        mat-stroked-button color="primary" 
        style="border: 1px solid green; color: green; overlay: inherit;">
        contact me
      </button> -->
    </div>
  </div>